<mat-dialog-content>
    <h1 mat-dialog-title>Full description of Registration number {{registration.id}}</h1>
    <div mat-dialog-content>
        <ul>
            <li>
                Registration Code: {{registration.registrationCode}}
            </li>
            <li>
                Name: {{registration.studentFullName}}
            </li>
            <li>
                Course Name: {{registration.courseName}}
            </li>
            <li>
                Date: {{registration.date}}
            </li>
        </ul>
    </div>