<mat-dialog-content>
    <h1 mat-dialog-title>Full description of Registration number {{registration.id}}</h1>
    <div mat-dialog-content>
        <ul>
            <li>
                Name: {{registration.firstName}}
            </li>
            <li>
                Last Name: {{registration.lastName}}
            </li>
            <li>
                Email: {{registration.courseCode}}
            </li>
            <li>
                Active: {{registration.courseName}}
            </li>
        </ul>
    </div>