/* Imports Roboto family font*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto' sans-serif;
    margin: 1rem 0;
}

li {
    list-style: none;
    padding-top: 10px;
}

ul {
    padding-left: 1rem;
    margin-top: 1rem;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 1.5rem;
}

.disabled {
    display: none;
}