<h1 mat-dialog-title>Add Registration</h1>
<div mat-dialog-content>
    <form class="flex flex-column" [formGroup]="registrationForm">

        <mat-form-field appearance="fill">
            <mat-label>Registration Code</mat-label>
            <input [formControl]="registrationCodeControl" matInput>
            <app-error-helper [control]="registrationCodeControl"></app-error-helper>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Select Student</mat-label>
            <mat-select formControlName="studentFullName">
                <mat-option *ngFor="let student of students" [value]="{firstName: student.firstName, lastName:student.lastName}">
                    {{student.id + "-" + student.firstName + ' ' + student.lastName}}
                </mat-option>
            </mat-select>

        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select Course</mat-label>
            <mat-select formControlName="courseName">
                <mat-option *ngFor="let course of courses" [value]="{courseId: course.id,courseName: course.name}">
                    {{course.id + "-" + course.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date Inscription</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button [disabled]="registrationForm.invalid" [mat-dialog-close]="registrationForm.value" cdkFocusInitial>Save</button>
</div>