<h1 mat-dialog-title>Add Course</h1>
<div mat-dialog-content>
    <form class="flex flex-column" [formGroup]="courseForm">
        <div class="mb-2">
            <mat-form-field appearance="fill">
                <mat-label>Code</mat-label>
                <input [formControl]="courseCodeControl" matInput>
                <app-error-helper [control]="courseCodeControl"></app-error-helper>
            </mat-form-field>

        </div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input [formControl]="nameControl" matInput>
            <app-error-helper [control]="nameControl"></app-error-helper>
        </mat-form-field>
        <mat-label>Active</mat-label>
        <mat-slide-toggle [checked]="true"></mat-slide-toggle>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button [disabled]="courseForm.invalid" [mat-dialog-close]="courseForm.value" cdkFocusInitial>Save</button>
</div>