.toolbar {
    background-image: linear-gradient(to left, #09c0f7, #0a72f7);
}

.logo {
    color: white;
}

.mat-toolbar {
    position: relative;
    z-index: 8;
}


/* CSS for logo */

.logo {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}